/* TODO CSS */
/* TODO CSS */
#big-gift{
    width:200px;
    height:200px;
    margin-top: auto;
    margin-bottom: auto;
}
#medium-gift{
    width:120px;
    height:120px;
    margin-top: auto;
    margin-bottom: auto;
    display: inline-block;
    vertical-align: middle;
   
}

#small-gift{
    width:80px;
    height:80px;
    margin-top: auto;
    margin-bottom: auto;
    display: inline-block;
    vertical-align: middle;
}

.prop{
    border-radius: 25px;
    background: #D3D3D3;
    padding: 20px;
    margin-left: 2%;
    height:250px;
    margin-top: auto;
    margin-bottom: 5%;
}


.btn-circle.btn-xl {
    width: 150px;
    height: 150px;
    padding: 10px 16px;
    border-radius: 105px;
    text-align: center;
    line-height: 1.33;
    margin-bottom: 5%;
}

#sleigh{
    width:30px;
    height:30px;
}
#plus{
    width:50px;
    height:50px;
}
#deliver-btn{
    text-align: center;
}
.console{
    border-radius: 25px;
    background: #D3D3D3;
    padding: 20px;
    margin-left: 2%;
    vertical-align: middle;
    margin-top: 2px;
    margin-bottom: auto;
    height: auto;
   
}
.console2{
    height:100px;
}
@import url('https://fonts.googleapis.com/css?family=Mountains+of+Christmas&display=swap');
body{
    font-family: 'Mountains of Christmas', cursive;
}